# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native builds
ios/build/
ios/Pods/
ios/main.jsbundle
ios/assets/
android/build/
android/app/build/

# Logs
*.log

# macOS
.DS_Store

# Metro cache
.metro-health-check*

# Xcode user data
ios/*.xcodeproj/xcuserdata/
ios/splurge.xcworkspace/xcuserdata/
